
# Ignore Data
data/
data/raw/
data/processed/

# Ignore large model weights (optional: keep if small, ignore if >100MB)
results/models/*.pth

# Ignore Colab garbage
__pycache__/
*.pyc
.ipynb_checkpoints/
